<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur Chat-perd-lipopette</h1>
  <p class="lead">Des tonnes de photos de chatons trop cute!</p>
  <hr class="my-4">
  <p>Ici vous trouverez les plus belles photos de chatons</p>
</div>
